$color-primary: #3adbc6;


.nav-container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-between;
  position: static;
  width: 100%;
  align-items: center;
  padding: 10px 30px;
  margin-bottom: 6px;
  box-shadow: 0 0 8px 0.5px rgba(139, 139, 145, 0.832);
  background-color: #ffffff;
  z-index: 1;

  .nav-logo img {
    width: 110px;
  }
  .nav-link {
    display: flex;
    gap: 35px;

    .link {
      justify-content: end;
      text-decoration: none;
      color: rgb(56, 65, 79);
      font-weight: bolder;
      font-size: larger;

    
      &:hover, :checked {
        color: $color-primary;
      }
   
    }
  }
}
