$color-primary: #3adbc6;
$color-blanco: #ffff;
@import "../media-queries";

.home-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-content: center;

  height: 100vh;
  padding: 10px 45px;
  overflow-y: hidden;

  .home-logo2 {
    width: 80px;
  }
  .videoBg {
    position: fixed;
    object-fit: cover;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -1;
  }

  .home-slogan {
    .parrafo1 {
      font-size: 5rem;
      width: 60%;
      color: white;
      box-sizing: border-box;
      
      @include tablet {
        color: green;
      }
    }
  }

  h3 {
    font-size: 5rem;
    font-weight: 700;
    color: $color-blanco;
  }

  .home-text,
  p {
    font-size: 2rem;
    width: 70%;

    font-weight: 500;
    color: $color-primary;
  }
}
