@import "../../../../styles/media-queries";

//Variables
$col-verde: #61b83e;
$col-texto: rgb(76, 78, 81);
$col-azul: #377ee8;
$col-verde2: #046661;

.contain-caracteristicas {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgb(252, 252, 252);
  z-index: -1;
  overflow: hidden;

  .todos-background {
    height: 100%;
    width: 100%;
    position: absolute;

    .fondo-1 {
      position: absolute;
      left: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background: radial-gradient(#a8ea8e, $col-verde);
      border-radius: 0 0 80% 0;
      z-index: -2;
    }
    .fondo2 {
      position: absolute;
      right: 0px;
      width: 20%;
      height: 100%;
      background: radial-gradient(#377ee8, $col-verde);
      border-right: 0px solid transparent;
      border-left: 300px solid transparent;
      border-bottom: solid 100vh #046661;
      z-index: -1;
    }
    .fondo3 {
      position: absolute;
      right: 0px;
      width: 25%;
      height: 100%;
      border-right: 0px solid transparent;
      border-left: 300px solid transparent;
      border-bottom: solid 100vh $col-verde;
      z-index: -2;
    }
  }

  .parrafo-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: 80%;
    padding: 30px;
    // gap: 50px;

    @include mobile {
      width: 100%;
      height: 70%;
      align-items: center;
    }
    @include tablet {
      width: 100%;
      height: 70%;
      align-items: center;
    }
    @include desktop {
      width: 100%;
      height: 100%;
      align-items: start;
      
    }

    .promo {
      font-weight: 900;
      font-size: 70px;
      color: $col-texto;
      box-sizing: border-box;
      width: 50%;
      height: 100%;
      text-shadow: 0px 0px 15px rgba(249, 249, 249, 0.584);

      @include mobile {
        font-size: 30px;
        width: 100%;
        height: 60%;
        top: 80px;
      }
      @include tablet {
        font-size: 45px;
        width: 100%;
        top: 90px;
      }
      @include desktop {
        font-size: 60px;
        width: 70%;
        padding: 30px;
        // top: 90px;
      }

      span {
        font-weight: 900;
        font-size: 70px;
        color: $col-texto;
        border: 3px solid rgb(13, 186, 157);
        color: white;
        border-radius: 50px;
        padding: 0px 20px;

        @include mobile {
          font-size: 30px;
        }
        @include tablet {
          font-size: 45px;
        }
        @include desktop {
          font-size: 60px;
          width: 70%;
        
        }
      }
    }
    //TARJETA
    .tarjeta {
      display: flex;
      align-items: center;
      width: 30%;
      height: 200px;
      text-align: center;
      border-radius: 20px;
      border: 8px solid rgb(240, 242, 242);
      overflow: hidden;
      background-color: $col-verde2;

      @include mobile {
        width: 90%;
        height: 180px;
        background-color: $col-verde;
      }
      @include tablet {
        width: 350px;
        height: 300px;
        background-color: $col-verde;
      }
      @include desktop {
        width: 320px;
        background-color: $col-verde;
      }
      @include large {
        width: 320px;
        position: absolute;
        transition: all 4s ease;
        top: 300px;
        left: 480px;
        z-index: 2;
        background-color: $col-verde;
      }
      @include extralarge {
        width: 520px;
        position: absolute;
        transition: all 4s ease;
        top: 390px;
        left: 480px;
        z-index: 2;
        background-color: $col-verde;
      }
    
      .img-turismo {
        width: 50%;
        height: 100%;
        object-fit: cover;
      }
      .text-tarjeta {
        font-size: 2rem;
        font-weight: 500;
        color: white;

        @include mobile {
          font-size: 1.5rem;
        }
      }
    }
  }

  //IMAGENES DE FONDO DE AUTOS
  .imagen-container {
    position: absolute;
    display: flex;
    align-items: center;
    right: -30px;
    width: 55%;
    z-index: 1;

    .imagenAutos {
      position: absolute;
      width: 100%;

      @include mobile {
        display: none;
      }
      @include tablet {
        display: none;
      }
    }
  }
}
