@import '../../../../styles/media-queries';

.valores-container {
  display: flex;
  height: 100vh;
  width: 100%;

  @include mobile {
    height: auto;
    display: flex;
    flex-direction: column;
    height: 20vh;
    display: contents;
  }
  @include tablet {
    height: auto;
    display: flex;
    flex-direction: column;
    height: 20vh;
    display: contents;
    
  }


  .valores-container-fondos {
    display: fblex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100vh;
    width: 90%;
    box-sizing: border-box;
    padding: 30px;
    

    @include mobile {
      height: 20%;
    }
    @include tablet {
      height: 20%;
      
    }
    @include desktop {
      height: 20%;
      
    }

    //CAJA DE IMAGEN Y TITULO
    .valores-img-titulo {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      width: 550px;
      position: relative;
     

      @include mobile {
        // position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      @include tablet {
        // position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      @include desktop {
        // position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
      }
      @include large {
        // position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
      }
      @include extralarge {
        // position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
      }

      .valores-titulo {
        font-size: 5rem;
        font-weight: 500;
        color: rgb(78, 78, 78);
        text-align: center;
        width: 100%;
        

        @include mobile {
          font-size: 3rem;
        }
        @include tablet {
          font-size: 3rem;
        }
    
        
      }
      .img-valores {
        width: 450px;
        height: 450px;
        border-radius: 50%;
        border: 10px solid rgb(233, 233, 233);
        object-fit: cover;
        filter: grayscale(1) opacity(0.9);
        

        @include mobile {
          display: none;
        }
        @include tablet {
          display: none;
        }
        @include large {
          // display: none;
          width: 350px;
          height: 350px;
        }
      }
    }
    .caja-gris {
      width: 80%;
      height: 100vh;
      background-color: rgb(71, 168, 152);
      z-index: -4;
      position: absolute;

      @include mobile {
        display: none;
      }
      @include tablet {
        display: none;
      }
      @include large {
        display: block;
        position: absolute;
        width: 100%;
      }

      }
    .caja-verde {
      width: 70%;
      height: 100vh;
      background-color: rgb(18, 223, 155);
      position: absolute;
      z-index: -4;

      @include mobile {
        display: none;
      }
      @include tablet {
        display: none;
      }
      @include large {
        display: block;
      }
    }
    .deformarX {
      transform: skewX(-200deg);
    }
  }
  //***************************************************

  //CAJA DE CARDS CON TITULOS
  .valores-textos-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    border: 1px solid red;
// display: none;
    @include mobile {
      display: flex;
      flex-direction: row;
      padding:  8px ;
      gap: 15px;
      height: 82%;
    }
    @include tablet {
      display: flex;
      flex-direction: row;
      padding:  8px ;
      gap: 15px;
      height: 82%;
      margin-bottom: 20px;
    }
    @include desktop {
      display: flex;
      padding:  8px ;
      height: 100%;
      margin-bottom: 20px;
      z-index: 1;
      position: absolute;
    }
    @include large {
      display: flex;
      padding:  8px ;
      height: 100%;
      width: 150%;
      // margin-bottom: 20px;
      z-index: 1;
      // position: absolute;
    }
    @include extralarge {
      display: flex;
      padding:  8px ;
      height: 100%;
      width: 150%;
      // margin-bottom: 20px;
      z-index: 1;
      // position: absolute;
    }

    .valores-card{
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 25px;
        border-radius: 15px;
        box-shadow: 0 0  12px .9px rgba(129, 129, 129, 0.594);
        width: 30%;
        height: 70%;
        box-sizing: border-box;

        @include mobile {
          width: 90%;
          height: auto;
          
        }

        @include tablet {
          width: 90%;
          height: auto;
          
        }
        @include desktop {
          // width: 90%;
          // height: auto;
          margin-top: 40px;
          background-color: white;
          
        }
        
        @include large {
          // width: 90%;
          // height: auto;
          margin-top: 40px;
          background-color: white;
          
        }
        
        @include extralarge {
          width: 30%;
          // height: auto;
          margin-top: 40px;
          background-color: white;
          
        }
        

        .valores-sub-titulo{
            font-weight: 500;
            color: #7a7a7a;
            width: 100%;
            border-bottom: 1px solid #c2c2c2b3;
            padding-bottom: 10px;

            @include mobile {
              font-size: 1.3rem;
            }
        }

        .valores-parrafo{
            text-align: justify;
            font-weight: 300;
        }
    }

  }
}
