@import '../../styles/media-queries';

.n-servi-container {
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 0px;

  @include mobile {
    margin-bottom: 80px;
    display: inline-flex;
    top: 100px;
    text-align: center;
    height: 100%;
    width: 100%;
    margin-bottom: 100px;
   
  }
  @include tablet {
    margin-bottom: 80px;
    display: inline-flex;
    top: 100px;
    text-align: center;
    height: 100%;
    width: 100%;
    margin-bottom: 100px;
   
  }
  @include desktop {
    
    position: relative;
    top: 120px;
    text-align: center;
    height: 100%;
    width: 100%;
    margin-bottom: 40%;
   
  }
  @include large {
    
    position: relative;
    top: 120px;
    text-align: center;
    height: 100%;
    width: 100%;
    margin-bottom: 90%;
    
   
  }


  .fondo-curvo {
    width: 100%;
    height: 50%;
    background-color: rgb(100, 228, 185);
    position: absolute;
    top: -50px;
    z-index: -1;
    border-radius: 0 0 50% 50%;

    @include mobile {
        display: none;
    }
    @include tablet {
        display: none;
    }
  }

  .n-servi-titulo {
    font-size: 4rem;
    font-weight: 800;
    color: #454545;
    margin-bottom: 30px;

    @include mobile {
        font-size: 2rem;
    }
    @include tablet {
        font-size: 2rem;
    }
  }

  .n-servi-cards {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    position: absolute;
    top: 10px;

    @include mobile {
        position: relative;
        align-items: start;
        height: auto;
        
    }
    @include tablet {
        position: relative;
        width: 90%;
        
    }
    @include desktop {
        position: relative;
        width: 90%;
        
    }
    @include large {
        position: relative;
        width: 90%;
        
    }
    @include extralarge {
        position: relative;
        width: 90%;
        
    }

    .n-servi-card {
      height: 400px;
      width: 300px;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: start;
      box-sizing: border-box;
      border-radius: 10px;
    //   box-shadow: 0 0  15px .2px gray;

      @include mobile {
        width: 400px;
        height: 150px;
        display: inline-flex;
      }
      @include tablet{
        width: 400px;
        height: 150px;
        display: inline-flex;
      }


      .card-fondo {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        
      }

      .card-texto {
        position:absolute;
        z-index: 1;
        padding: 40px 10px;
        border-radius: 0 0 20px 20px;
        background: rgba(255, 255, 255, 0.3);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(2px);
        color: #363636;
        font-weight: 600;
        font-size: 30px;
        width: 100%;
        height: 40%;

        @include mobile {
            font-size: 20px;
        
        }
        @include tablet {
            font-size: 25px;
            
        
        }
      }
    }
  }
}
