@import "../../styles/media-queries";

$color-primary: #3adbc6;

.nav-container {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  position: static;
  width: 95%;
  border-radius: 8px;
  margin: 15px auto;
  align-items: center;
  padding: 10px 30px;
  box-shadow: 0 0 8px 0.5px rgba(139, 139, 145, 0.832);
  background-color: #ffffff;

  &.nav-container.open {
    @include mobile {
      overflow: visible;
      z-index: 2;
    }
    @include tablet {
      overflow: visible;
      z-index: 2;
    }
  }

  @include mobile {
    position: fixed;
    z-index: 100;
    align-content: center;
    left: 15px;
    overflow: hidden;
    transition: 3s all ease;
  }
  @include tablet {
    position: fixed;
    z-index: 100;
    align-content: center;
    left: 15px;
    overflow: hidden;
  }

  .label-burguer {
    font-size: 40px;

    @include mobile {
    }
    @include tablet {
    }
    @include desktop {
      display: none;
    }
    @include large {
      display: none;
    }
    @include extralarge {
      display: none;
    }
  }

  .btn-burguer.burgerX  ~ .nav-link{
      @include mobile{
        display: none;
        background-color: #3adbc6;
      }
    }
    
  

  .nav-logo {
    img {
      width: 80px;
      transition: 5ms ease all;

      @include mobile {
        width: 50px;
      }
      @include tablet {
        width: 50px;
        transition: all 1s ease;
      }
    }
  }

  .nav-link {
    display: flex;
    gap: 35px;
    // z-index: -8;

    @include mobile {
      // display: none;
      background-color: #e5e8e8;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      align-items: center;
      position: absolute;
      top: 80px;
      right: 0;
      width: 100%;
      height: 100vh;
      gap: 0;
    }
    @include tablet {
      // display: none;
      // display: none;
      background-color: #e5e8e8;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      align-items: center;
      position: absolute;
      top: 80px;
      left: -15px;
      right: 0;
      width: 120%;
      height: 100vh;
      translate: 0px 0px -80% 50%;
    }

    .link {
      justify-content: end;
      text-decoration: none;
      color: rgb(56, 65, 79);
      font-weight: bolder;
      font-size: larger;

      @include mobile {
        border-bottom: 1px solid rgba(128, 128, 128, 0.502);
        font-size: 25px;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
      }
      @include tablet {
        border-bottom: 1px solid rgba(128, 128, 128, 0.502);
        font-size: 40px;
        width: 100%;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:hover,
      :checked {
        color: $color-primary;
      }
    }
  }
}
